body {
    color: darkred;
    background: linear-gradient(to right,  #060006 0%, #140c16 100%);
     
 
        font-family: "Russo One", sans-serif;
        font-weight: 50;
        font-style: normal;
       
        letter-spacing: 0.1em;

    max-width: 90em;
    width: auto;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;




}

h1 {
font-size:x-large;
}
h2 {
      font-size:x-large;
      }

        nav ul li a {

            padding: 1em;
      }
         
      
      nav ul {
      
            display:flex;
            margin: 0em;
            padding: 0.3em 0.5em 0.3em 0.5em;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            
            box-sizing: border-box;      
            
            
      }
            
      nav ul li a {
      
            text-decoration: none;
            color: #666;*
      }
      
      
      nav ul li {
      
        display:block
 }
            
      nav a:hover {
      
            color: #b71c1c
      }
